body {
    font-family: sans-serif;
}

a {
    color:black;
    margin-left:80px;
    margin-right:80px;
    font-size:20px;
    text-align:center;
}

h1 {
    text-align:center;
    font-size:60px;
}

main img {
    border-left:10px dotted black;
    margin-left:50px;
}

main p {
    border:1px solid black;
    border-radius:15px;
    padding:5px;
}

p {
    font-size:25px;
}

.blue {
    margin:0;
    color:blue;
    font-size:25px;
}

footer {
    background-color:black;
    padding-left:15px;
    padding-right:15px;
    padding-top:1px;
    padding-bottom:1px;
}

footer p {
    background-color:white;
    padding:5px;
}
